<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout/defaultLayout">

<!-- 타이틀 -->
<th:block layout:fragment="title">
	<title>아이디 찾기 결과</title>
</th:block>

<body>
	<!-- 콘텐츠 시작 -->
	<th:block layout:fragment="content">
		<section class="container">
			<!-- 섹션 안 내비게이션 시작 -->
			<div>
				<ul class="nav nav-tabs justify-content-center">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">판매</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">구매</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">찜</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">키워드 알림</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">배송지 등록</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">내정보 수정</a>
					</li>
				</ul>
			</div>
			<!-- 섹션 안 내비게이션 끝 -->


			<!-- 콘텐츠 시작 -->
			<div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
			<!-- 콘텐츠 끝 -->


		</section>

	</th:block>
	<!-- 콘텐츠 끝 -->

</body>
</html>