<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  
 * 공지사항
 * 2021. 12. 17.
 * Jenny (secrethappy@naver.com)
 -->

<!-- BoardMapper 인터페이스의 경로 지정 / 네임스페이스는 XML Mapper의 SQL 쿼리 문과 Mapper 인터페이스의 메서드를 매핑하기 위해 지정하는 속성 -->
<mapper namespace="com.OEMarket.mapper.NoticeMapper">

<!-- <sql> 태그를 이용해서 태그의 시작과 끝 사이에 공통으로 사용되거나 반복적으로 사용되는 SQL 조각을 정의할 수 있음 -->
	<sql id="boardColumns">
		  "board_no" <!-- 게시글 번호 -->
		, "user_no" <!-- 작성자 -->
		, "title" <!-- 제목 -->
		, "category_no" <!-- 카테고리 번호 -->
		, "sales_status" <!-- 판매 상태 -->
		, "price" <!-- 판매금액 -->
		, "content" <!-- 내용 -->
		, "view_count" <!-- 조회수 -->
		, "write_date" <!-- 등록일 -->
		, "modify_date" <!-- 수정일 -->
		, "modifier" <!-- 수정자 -->
		, "delete_yn" <!-- 삭제여부 -->
		, "notice_yn" <!-- 공지사항여부 -->
	</sql>

	<insert id="insertNotice" parameterType="BoardDTO">
		INSERT INTO BOARD (
			<include refid="boardColumns" />
		) VALUES (
			board_no_seq.nextval
			, #{userNo}
			, #{title}
			, #{categoryNo} 
			, 0
			, #{price}
			, #{content}
			, 0
			, sysdate
			, NULL
			, NULL
			, 'N'
			, 'Y'
			
		)
	</insert>
	<select id="selectNoticeDetail" parameterType="long" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			BOARD
		WHERE
			"delete_yn" = 'N'
		AND
			"board_no" = #{boardNo}
	</select>

	<update id="updateNotice" parameterType="BoardDTO">
		UPDATE BOARD
		SET
			 "title" = #{title}
			, "price" = #{price}
			, "content" = #{content}
			, "modify_date" = sysdate
			, "modifier" = #{modifier}	
		WHERE
			"board_no" = #{boardNo}
	</update>

	<update id="deleteNotice" parameterType="long">
		UPDATE BOARD
		SET
			  "delete_yn" = 'Y'
		WHERE
			"board_no" = #{boardNo}
	</update>

	<select id="selectNoticeList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT
			<include refid="boardColumns" />
		FROM
			BOARD
		WHERE
			"delete_yn" = 'N'
			AND
			"notice_yn" = 'Y'
		ORDER BY
			"board_no" DESC,
			"write_date" DESC,
			"view_count" DESC
	</select>

	<select id="selectNoticeTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOARD
		WHERE
			"delete_yn" = 'N'
			AND
			"notice_yn" = 'Y'
			
	</select>

</mapper>