<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="common/layout/defaultLayout">

<!-- 타이틀 -->
<th:block layout:fragment="title">
	<title>아이디 찾기</title>
</th:block>

<body>
<!-- 콘텐츠 시작 -->
<th:block layout:fragment="content">
<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-sm-center h-100">
					<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
						<div class="card shadow-lg">
							<div class="card-body p-5">
								<h1 class="fs-4 card-title fw-bold mb-4">ID 찾기</h1>
								<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
									<div class="mb-3">
										<label class="mb-2 text-muted" for="email">이메일 주소</label>
										<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
										<div class="invalid-feedback">Email is invalid</div>
									</div>

									<div class="d-flex align-items-center">
										<button type="submit" class="btn btn-primary ms-auto">전송</button>
									</div>
								</form>
							</div>
							<div class="card-footer py-3 border-0">
								<div class="text-center">
									<a href="#" th:href="@{/account/find_pw.do}" class="text-dark">비밀번호 찾기</a>
									<a href="#" th:href="@{/account/login.do}" class="text-dark">로그인</a>
								</div>
							</div>
						</div>
						<div class="text-center mt-5 text-muted"></div>
					</div>
				</div>
			</div>
		</section>
</th:block>
<!-- 콘텐츠 끝 -->


</body>
</html>